/* Reset de estilos */
* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
	z-index: 2;
}

/* Cores padrão do site */
:root {
	--cor-fundo: rgb(240, 240, 240);
	--cor-hover: rgb(13, 29, 35);
	--cor-azul: rgb(1, 46, 64);
	--cor-azulescuro: rgb(13, 29, 35);
	--cor-dourado: rgb(241, 220, 114);
	--bar-width: 60px;
	--bar-height: 8px;
	--hamburger-gap: 6px;
}

/* Fontes adicionais do layout */
@font-face {
	font-family: Oswald;
	src: url('../fonts/Oswald-Bold.woff');
}

/*Sombras*/
.sombra {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

/* Configurações padrão da web */
body {
	background: #b2b1ac;
	font: 1rem Open Sans, sans-serif;
	color: #012E40;
	flex-wrap: wrap;
}

header {
	height: 100px;
	background: #012E40;
	display: flex;
	align-items: center;
	width: 100%;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

nav {
	flex-grow: 1; /* Ocupar todo o espaço restante na linha */
	margin-left: auto;

}

/* Logo responsivo */
#logo-responsivo img {
	width: 200px;
	border-right: 1px solid #F1DC72;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}


/* Botões do Menu */
.button-menu {
	width: 85%;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	margin: 5px;
	height: 25px;
	transition: background-color 1s, color 1s;
	color: #cdcdcd;

}

.button-menu:hover {
	background-color: var(--cor-azulescuro);
	color: var(--cor-dourado);
	border-radius: 5px;
	transition: background-color 1s, color 1s;
}

.button-menu:focus {
	background-color: var(--cor-dourado);
	color: var(--cor-azulescuro);
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 1s, color 1s;
}


.button-submenu:focus + .submenu {
	display: block;
	opacity: 1;
	border-radius: 0 5px 5px 5px;
}

.button-menu.button-submenu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Produtos */
.produto-fixo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 5px;
	border-bottom: 1px solid #F1DC72;
	width: 85%;
	height: 25px;
	padding: 10px;
	color: #fff;
}

/* Busca Específica */
#busca-especifica-container {
	flex-wrap: wrap;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
	margin: 0 auto; /* Centralizar horizontalmente */
}

#busca-especifica {
	width: 50%;
	min-width: 300px;
	height: 40px;
	color: #fff;
	text-align: center;
	margin: 0 auto; /* Centralizar horizontalmente */
	border-radius: 50px;
}

/* Usuário */
#usuario {
	width: 23%;
	height: 70px;
	color: #fff;
	text-align: right;
	margin-right: 50px;
	display: flex;
}

#usuario p {
	width: 80%;
	height: 33.333%;
	display: flex;
	display: inline-block;
	margin-right: 20px;
}

#usuario p strong {
	font-family: Oswald;
	text-transform: uppercase;
}

/* Menu Usuario */
#usuario-menu {
	position: relative;
	right: 0;
	}

#usuario-menu img {
	display: block;
	position: relative;
	border-radius: 50px;
	background: var(--cor-azul);
	margin: 0 auto;
}

.seta-rotacionada {
	transform: rotate(-270deg);
	padding: 5px;
}



.dropdown-menu {
	position: absolute;
	width: 170px;
	height: 15vh;
	padding: 5px;
	background: var(--cor-azul);
	right: 0;
	top: 80px;
	border-radius: 0 0 5px 5px;
}


/* DROP-DAW BOTAO */
.menu {
  position: absoute;
  z-index: 999;

}

.menu .menu-lines {
 position: absolute;
 z-index: 999;
 width: 30px;
 height: 30px;
}

.menu .menu-lines span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 6px;
  background-color: var(--cor-dourado);
  border-radius: 9999px;
  transition: all ease .5s;

}

.menu .menu-faketrigger {
  position: absolute;
  z-index: 1000;
  width: 30px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
  background-color: var(--cor-fundo);

}

.menu .menu-faketrigger:checked ~ .menu-lines span {

  
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1) {
  transform-origin: 0% 0%;
  transform: rotate(45deg) scaleX(1.15);
 
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2) {
  opacity: 0;
  
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3) {
   transform-origin: 0% 100%;
  transform: rotate(-45deg) scaleX(1.15);
  
}

.menu ul {
  position: absolute;
  z-index: -1;
  top: 100px;
  width: 200px;
  background-color: var(--cor-azul);
  height: 39vh;
  margin-top: -50vh;
  transition: all ease .2s;
  border-radius: 0 0 5px 5px;
  display: block;
  margin-right: 10px;

}

.texto {
  margin-left: 40px;
  color: #cdcdcd;
  font-size: 1.2em;
 
}

.menu .menu-faketrigger:checked ~ ul {
  margin-top: 0;
}

.menu .menu-faketrigger:checked ~ h1 {
   opacity: 0;
 }

.menu .menu-faketrigger:checked ~ .texto-fechar {
   opacity: 100%;
   position: absolute;
   top: 34px;
   transition: all ease .7s;
   
}

.texto-fechar {
  position: absolute;
  opacity: 0;
  top: 34px;
}
