/* Reset de estilos */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Cores padrão do site */
:root {
	--cor-fundo: rgb(240, 240, 240);
	--cor-hover: rgb(13, 29, 35);
	--cor-azul: rgb(1, 46, 64);
	--cor-azulescuro: rgb(13, 29, 35);
	--cor-dourado: rgb(241, 220, 114);
}

/* Fontes adicionais do layout */
@font-face {
	font-family: Oswald;
	src: url('../fonts/Oswald-Bold.woff');
}

/*Sombras*/
.sombra {
 	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

/* Configurações padrão da web */
body {
	background: #b2b1ac;
	font: 1rem Open Sans, sans-serif;
	color: #012E40;
	flex-wrap: wrap;
}

header {
	height: 100px;
	background: #012E40;
	display: flex;
	align-items: center;
	width: 100%;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	}


nav {
	flex-grow: 1; /* Ocupar todo o espaço restante na linha */
	margin-left: auto;
}


/* Logo responsivo */

#logo-responsivo img {
	width: 200px;
	border-right: 1px solid #F1DC72;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

/* Menu Dropdown */

.drop-menu ul {
	background: var(--cor-azul);
	display: inline-block;
	list-style-type: none;
	border-radius: 5px;

	
}

.drop-menu ul li {
	display: inline;
	position: relative;
}

.drop-menu ul li a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	transition: background 1s;
}

/* Botões do Menu */
.button-menu {
	display: flex;
	width: 85%;
	padding: 10px;
	text-decoration: none;
	justify-content: space-between;
	align-items: center;
	margin: 5px;
	height: 25px;
	transition: background-color 1s, color 1s;

}

.button-menu:hover {
	background-color: var(--cor-azulescuro);
	color: var(--cor-dourado);
	padding: 10px;
	border-radius: 5px;
	transition: background-color 1s, color 1s;
}

.button-menu:focus {
	background-color: var(--cor-dourado);
	color: var(--cor-azulescuro);
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 1s, color 1s;;
}

.drop-menu ul li:hover ul {
	display: block;
}

/* sub-menus */
.drop-menu ul ul {
	display: none;
	position: absolute;
	left: 0;
	width: 220px;
}

.drop-menu ul ul li a {
	display: block;
}

.drop-menu ul ul li a div {
	position: relative;
	width: 85%;
	height: 25px;
	border: none;
	background-color: transparent;
	color: #fff;
	text-align: left;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px;
}

.drop-menu ul li {
	position: relative;
}

.drop-menu ul li .submenu {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	opacity: 0;
}

.drop-menu ul li:hover .submenu {
	display: block;
}

.button-submenu:focus + .submenu {
	display: block;
	opacity: 1;
	border-radius: 0 5px 5px 5px;
}

.button-menu.button-submenu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Produtos */
.produto-fixo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 5px;
	border-bottom: 1px solid #F1DC72;
	width: 85%;
	height: 25px;
	padding: 10px;
	color: #fff;
}

/* Busca Específica */
#busca-especifica-container {
	flex-wrap: wrap;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
	margin: 0 auto; /* Centralizar horizontalmente */
	
}

#busca-especifica {
	width: 50%;
	min-width: 300px;
	height: 40px;
	color: #fff;
	text-align: center;
	margin: 0 auto; /* Centralizar horizontalmente */
	border-radius: 50px;

}


/* Usuário */
#usuario {
	width: 23%;
	height: 70px;
	color: #fff;
	text-align: right;
	margin-right: 50px;
	display: flex;
}

#usuario p {
	width: 80%;
	height: 33.333%;
	display: flex;
	display: inline-block;
	margin-right: 20px;
}

#usuario p strong {
	font-family: Oswald;
	text-transform: uppercase;
}

/*Menu Usuario*/
#usuario-menu {
	right: 0;
	width: 20%;
	height: 100%;
	background: var(--cor-azul);
	justify-content: center;
  	align-items: center;
}

#usuario-menu img{
	display: block;
	position: relative;
	border-radius: 50px;
	background: var(--cor-azul);
	margin: 0 auto;
	}

.seta-rotacionada {
  transform: rotate(-270deg);
  padding: 5px;
}


/*dropdown-menu*/

.dropdown-menu {
  display: none;
  position: absolute;
  right: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  top: 80px;
  background: var(--cor-azul);
  list-style: none;
  width: 150px;
  margin-top: 10px;
 }

.dropdown-menu li a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  margin: 10px;
  }

#usuario-menu:hover .dropdown-menu {
  display: block;
}














