/* limpar site */
* {
	margin: 0%;
	padding: 0%;
 

}

/* fontes adicional layout*/

@font-face {

	font-family: Oswald; 
	src: url('fonts/Oswald-Bold.woff');

}

/* configurações padrão web */
body {

	background: #b2b1ac url("../imagens/inicial_tratada3.png") no-repeat;
	opacity: 85%;
	background-size: 60%;
	font: 100% Open Sans, sans-serif;
	
}

#logo {

	background: url('../imagens/logotipo_experato_admin.png') no-repeat;
	background-size: 100%;
	color: #FFFFFF;
	position: relative;
	left: 10%;
	top: 10vh;
	height: 20vh;
	width: 25%;
	min-height: 30vh;
	min-width: 30vh;
}

#logo h1 {
	text-indent: -1000px;

}

#frase {

	font-size: 1.1em;
	position: relative;
	top: 13vh;
	

}


#login {
	width: 25%;
	position: relative;
	left: 25%;
	top: 15vh;
	background: #012E40;
	opacity: 85%;
	color: #fff;
	border-radius: 10px;
	padding: 20px;
	max-width: 400px;
	min-width: 320px;
	font-size: 1rem;
	max-height: 300px;
	min-height: 100px;
	margin: 0 auto;
}

#lembrar-email {
	width: 18px;
	height: 18px;
	margin-top: 3%;
	background-color: #012E40;
  border-color: blue;
  outline: none;

}

#lembrar-senha {
	font-size: 14px;
	font-family: Osvald, sans-serif;
}


.stilo-login {
	width: 95%;
	height: 40px;
	border-radius: 5px;
	margin-top: 3%;
	padding-left: 5%;
	outline: none;
}

.color-button {
	background: #F1DC72;
	color: #012E40;
	font-weight: bold;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	margin-top: 5%;
	outline: none;


	/* Mudança de cor quando o mouse é passado sobre o botão */
  transition: background-color 0.3s; /* Adiciona uma transição suave */
}

/* Nova cor de fundo quando o mouse é passado */
.color-button:hover {
  background-color: #89792A;
  color: #fff;

}

/* Nova cor de fundo quando o mouse é passado */
.stilo-login:hover {
  background-color: #89792A;
  color: #fff;

}


